.header {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  @media (max-width: 600px) {
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #fff;
      z-index: 2;
      top: 0;
      left: 0;
    }
  }

  &__menu {
    height: 100%;
  }
}

.menu {
  &__burger {
    @media (max-width: 600px) {
      display: block;
    }

    &.active {
      span {
        opacity: 0;
        visibility: hidden;
      }

      &:before {
        content: "";
        top: calc(50% - 1px);
        transform: rotate(45deg);
      }

      &:after {
        content: "";
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }
    }

    display: none;
    position: absolute;
    z-index: 5;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 22px;

    span {
      position: absolute;
      width: 100%;
      height: 2px;
      top: calc(50% - 1px);
      background-color: #21243D;
      transition: all .3s ease;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 0;
      background-color: #21243D;
      transition: all .3s ease;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      background-color: #21243D;
      transition: all .3s ease;
    }
  }

  &__nav {
    transition: all .3s ease;

    &.active {
      transform: translate(0);
    }

    @media (min-width: 600px) {
      height: 100%;
    }
    padding: 0 20px 0 0;
    @media (max-width: 600px) {
      padding: 0;
      position: fixed;
      z-index: 4;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transform: translateY(-100%);
      overflow: auto;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
    @media (min-width: 600px) {
      align-items: center;
      height: 100%;
    }
    @media (max-width: 600px) {
      flex-direction: column;
      padding: 80px 0 0 0;
    }
    align-items: center;

    li {
      margin: 0 40px 0 0;
      @media (max-width: 600px) {
        margin: 0 0 20px 0;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    color: #000;
    transition: all .3s ease;
    &.active {
      color: #FF6464;
    }
    @media (max-width: 600px) {
      font-size: 22px;
      text-transform: uppercase;
    }
    @media (min-width: 992px) {
      &:hover {
        color: #FF6464;
      }
    }
  }
}